<footer class="footer">

<div class="container">

<div class="row">

<div class="col-lg-4">

<h3>

PocketStore

</h3>

<p>

High-performance technology for those who demand engineering excellence.

</p>

</div>

<div class="col-lg-2">

<h6>

Support

</h6>

<a href="#">Help Center</a>

<a href="#">Contact</a>

<a href="#">Track Order</a>

</div>

<div class="col-lg-2">

<h6>

Shop

</h6>

<a href="{% url 'mobile_page' %}">
Mobiles
</a>

<a href="{% url 'audio_page' %}">
Audio
</a>

<a href="{% url 'wishlist' %}">
Wishlist
</a>

</div>

<div class="col-lg-4 text-lg-end">

<p>

© 2026 PocketStore

</p>

<p>

All Rights Reserved.

</p>

</div>

</div>

</div>

</footer>
